SELLER_SPRITE_USERNAME=
SELLER_SPRITE_PASSWORD=
SELLER_SPRITE_EXTENSION_PATH=
SEARCH_QUERY=pop up greeting card
CATEGORY_NAME=Greeting Cards
TITLE_KEYWORDS=pop up,popup,pop-up
MIN_CHILD_MONTHLY_SALES=1000
AMAZON_COUNTRY=US
AMAZON_ZIP=10001
AMAZON_LOGIN_ATTEMPTS=2
OUTPUT_ROOT=outputs
USER_DATA_DIR=browser-profile
HEADLESS=false
